<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="example.dataaccess.customer.CustomerMapper">
    <resultMap id="customer" type="example.model.customer.Customer">
        <constructor>
            <arg resultMap="customerId" javaType="example.model.customer.CustomerId" />
            <arg resultMap="name" javaType="example.model.customer.Name" />
        </constructor>
    </resultMap>

    <select id="findAll" resultMap="customer">
        SELECT
        customer_id, family_name, first_name
        FROM
        CUSTOMER.CUSTOMERS
    </select>

    <select id="findById" resultMap="customer">
        SELECT
          customer_id, family_name, first_name
        FROM
          CUSTOMER.CUSTOMERS
        WHERE customer_id = #{customerId.value}
    </select>

    <resultMap id="customerId" type="example.model.customer.CustomerId">
        <constructor>
            <idArg column="customer_id" javaType="java.lang.Long" />
        </constructor>
    </resultMap>

    <resultMap id="name" type="example.model.customer.Name">
        <constructor>
            <arg column="family_name" javaType="java.lang.String" />
            <arg column="first_name" javaType="java.lang.String" />
        </constructor>
    </resultMap>

    <insert id="registerCustomer">
        INSERT INTO CUSTOMER.CUSTOMERS
        (customer_id, family_name, first_name)
        VALUES
        (#{customer.customerId.value}, #{customer.name.familyName}, #{customer.name.firstName});
    </insert>
</mapper>